flows.json
[
    {
        "id": "62df7a5f23611cb9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "932323f61db065ca",
        "type": "websocket-listener",
        "path": "/test/esp32",
        "wholemsg": "true"
    },
    {
        "id": "406bdf6ad4215140",
        "type": "inject",
        "z": "62df7a5f23611cb9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "999",
        "payloadType": "num",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "8a3770cb5896d38a",
                "0006112326c0c816"
            ]
        ]
    },
    {
        "id": "8a3770cb5896d38a",
        "type": "function",
        "z": "62df7a5f23611cb9",
        "d": true,
        "name": "Init",
        "func": "const fs = global.get('fs'); // Access the fs module from the global context\n\nfunction createFingerDataJSON() {\n  const fingerData = {};\n\n  // Create the JSON structure for 1000 finger IDs with \"OUT\" status\n  for (let i = 1; i <= 1000; i++) {\n    fingerData[i] = { status: \"OUT\" };\n  }\n\n  // Convert the data to a JSON string\n  const jsonData = JSON.stringify(fingerData, null, 2);\n\n  // Specify the file path\n  const filePath = 'fingerData.json';\n\n  // Write the JSON data to a file\n  fs.writeFileSync(filePath, jsonData);\n\n  console.log(\"JSON file 'fingerData.json' created.\");\n}\n\n// Call the function to create the JSON file\ncreateFingerDataJSON();\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 200,
        "wires": [
            [
                "59cd0223cb6f7c13"
            ]
        ]
    },
    {
        "id": "59cd0223cb6f7c13",
        "type": "debug",
        "z": "62df7a5f23611cb9",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "topic",
        "statusType": "auto",
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "0006112326c0c816",
        "type": "function",
        "z": "62df7a5f23611cb9",
        "name": "getstatus",
        "func": "const fs = global.get('fs'); // Access the fs module from the global context\n\nfunction toggleFingerStatus(requestedId) {\n  // Read the JSON file\n  const filePath = 'fingerData.json'; // Update with your actual file path\n  let fingerData = JSON.parse(fs.readFileSync(filePath, 'utf8'));\n\n  // Check if the requested ID is within the valid range\n  if (requestedId >= 1 && requestedId <= 1000) {\n    const status = fingerData[requestedId] && fingerData[requestedId].status;\n\n    if (status !== undefined) {\n      // Toggle the status\n      const newStatus = status === 'IN' ? 'OUT' : 'IN';\n  \n      // Update the status in the JSON data\n      fingerData[requestedId].status = newStatus;\n\n      // Write the updated JSON data back to the file\n      fs.writeFileSync(filePath, JSON.stringify(fingerData, null, 2));\n\n      return { payload: newStatus };\n    } else {\n      return { payload: 'ID not found' };\n    }\n  } else {\n    return { payload: 'Invalid ID' };\n  }\n}\n\n// Call the function to toggle the status for a specific ID\nconst requestedId = msg.payload; // Replace with the ID you want to toggle\nconst result = toggleFingerStatus(requestedId);\nconst payloadValue = result.payload; // Extract the payload property from the result object\nconst payloadString = payloadValue.toString(); // Convert the payload to a string\n\nmsg.url = \"https://script.google.com/macros/s/AKfycbxXGpoUY5sPNRIxA1lVw3gTh0U92gXeStGfNJN_8FfKcV0tAMf7LYePOAkGAGul0kHiCw/exec?fingerid=\" + requestedId + \"&&stat=\" + payloadString;\n// return msg;\nconsole.log(msg.url);\nconsole.log(payloadString)\nmsg.payload = payloadValue\nreturn msg; // Return the result to be used in your Node-RED flow\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 340,
        "wires": [
            [
                "59cd0223cb6f7c13",
                "e860b49b8dc8a74e",
                "4058392ffb02b229",
                "c895c601035c435a"
            ]
        ]
    },
    {
        "id": "e860b49b8dc8a74e",
        "type": "http request",
        "z": "62df7a5f23611cb9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 240,
        "wires": [
            [
                "59cd0223cb6f7c13"
            ]
        ]
    },
    {
        "id": "cb4946ea0314f90c",
        "type": "websocket in",
        "z": "62df7a5f23611cb9",
        "name": "",
        "server": "932323f61db065ca",
        "client": "",
        "x": 200,
        "y": 260,
        "wires": [
            [
                "0006112326c0c816"
            ]
        ]
    },
    {
        "id": "d33541772dc8a6fc",
        "type": "websocket out",
        "z": "62df7a5f23611cb9",
        "name": "",
        "server": "932323f61db065ca",
        "client": "",
        "x": 740,
        "y": 360,
        "wires": []
    },
    {
        "id": "4058392ffb02b229",
        "type": "function",
        "z": "62df7a5f23611cb9",
        "name": "function 1",
        "func": "var a  = msg.payload\nreturn a;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 400,
        "wires": [
            [
                "d33541772dc8a6fc"
            ]
        ]
    },
    {
        "id": "c895c601035c435a",
        "type": "debug",
        "z": "62df7a5f23611cb9",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 460,
        "wires": []
    }
]